* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 200px;
    background-color: #858383;
}

.footer {
    height: 200px;
    background-color: #2e353d;
}

.item {
    border: 1px solid #0750d7;
    height: 350px;
    width: 350px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}